.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: white;
    width: 11rem;
    height: 11rem;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 6px;
  }
  @media (max-width:768px)
  {
    .skills__box
    {
      height: 118px;
      padding: 1rem;
      width: 175px;
    }
  }
  @media (max-width: 425px) {
    .skills__box{
      height: 7.375rem;
      padding: 1rem;
      width: 9.75rem;
    }
  }