.formcontato__img {
    width: 464px;
    height: 593px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  @media (max-width:768px)
  {
    .formcontato__img
    {
      display: none;
    }
  }
  @media (max-width: 425px) 
  {
    .formcontato__img{
      display: none;
    }
  }