.about__paragraph{
    text-align: justify;
    font-family: raleway;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.188rem;
    color:#464646;
    margin-top: 1rem;
    margin-right: 24rem;

 }
 @media (max-width: 768px)
{
 .about__paragraph{
   text-align: justify;
   width: 100%;
   color:#464646;
   font-size: 14px;
   font-family: Raleway;
 }   
}
 @media (max-width: 425px) {
    .about__paragraph{
    text-align: justify;
    width: 100%;
    }
 }
