#xp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.experience__section__title
{
    margin-bottom: 1rem;
    color: #464646;
    text-align: center;
    font-size: 2rem;
    font-family: Raleway;
    font-weight: 700;
}
@media (max-width: 425px) {
    #xp{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
      
    }
    .experience__section__title
    {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: #464646;
        text-align: center;
        font-size: 1.375rem;
        font-family: Raleway;
        font-weight: 700; 
    }
}