.title__profile {   
    margin-right: 10px;
    height: 25rem;
    width: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  }
  @media (max-width: 768px)
  {
    .title__profile{
    width: 146px;
    height: 146px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    }
  }
@media (max-width: 425px) 
{
  .title__profile
  {
    width: 98px;
    height: 98px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
  }
}